{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
    <section>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{% url 'home'%}"><img src="{% static 'img/encabezado1.png'%}" class="img-fluid" alt="encabezado1"></a>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'registro'%}"><img src="{% static 'img/encabezado2.png'%}" class="img-fluid"
                            alt="encabezado2"></a>
                </div>
                <div class="carousel-item">
                    <a href="#"><img src="{% static 'img/encabezado3.png'%}" class="img-fluid"
                            alt="encabezado3"></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
    </section>
    <div class="grid text-center" style="--bs-columns: 3;">
        <div></div>
        <div><h1>Marcas Populares</h1></div>
        <div></div>
      </div>
    <br>
    <div class="container text-center">
        <div class="row row-cols-4">
          <div class="col"><img src="{% static 'img/logos/puma-logo.png'%}" alt="" width="100%"></div>
          <div class="col"><img src="{% static 'img/logos/Adidas_logo.png'%}" alt="" width="100%"></div>
          <div class="col"><img src="{% static 'img/logos/Under_armour_logo.svg.png'%}" alt="" width="100%"></div>
          <div class="col"><img src="{% static 'img/logos/jordan-logo-.png'%}" alt="" width="100%"></div>
          <div class="col"><img src="{% static 'img/logos/logo_nike.png'%}" alt="" width="100%"></div>
          <div class="col"><img src="{% static 'img/logos/New_Balance_logo.svg.png'%}" alt="" width="100%"></div>
          <div class="col"><img src="{% static 'img/logos/Vans-logo.png'%}" alt="" width="100%"></div>
          <div class="col"><img src="{% static 'img/logos/reebok-logo-5.png'%}" alt="" width="100%"></div>
        </div>
      </div>
      <br>
</main>
{% endblock %}



