{% extends 'base.html' %}
{% load static %}
{% block content %}


<main>
    <section>
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'img/encabezado4.png'%}" class="d-block w-100 h-51" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/cabecera.jpg'%}" class="d-block w-50" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'img/encabezado2.png'%}" class="d-block w-50" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- <div class="contenedor">
            <h1>BIENVENIDO</h1>
            <h1>A</h1>
            <h1>ANYRO</h1>
        </div> -->

    </section>
</main>
{% endblock %}