{% extends 'base.html' %}
{% load static %}
{% block content %}

<main>
<div class="py-5 text-center">
    <h2>Carrito de compras</h2>
</div>

<div class="container w-75 bg-primary mt-5 rounded shadow">
    <div class="row align-items-stretch ">
        <div class="col bg-white p-4 rounded-end">
            <table class="table" style="width: 90%">
                <thead>
                    <tr>
                        <th>cantidad</th>
                        <th></th>
                        <th>producto</th>
                        <th>precio unid.</th>
                        <th>total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for prod in carrito %}
                    <tr>
                        <th><input type="number" name="cantidad" id="" value="{{ prod.cantidad }}" min="0" style="width: 80px;"></th>
                        <td><img src="{{ prod.icono.url }}" alt="x"></td>
                        <td>{{ prod.nombre }}/{{ prod.unidad }}</td>
                        <td>{{ prod.total }}</td>
                        <td>
                            <a href="#" class="btn btn-danger btn-carrito">Eliminar</a>
                            <a href="#" class="btn btn-danger btn-carrito">Detalle</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="col-6 offset-4 row justify-content-center border-bottom">
                <div class="col-6 text-end">
                    <h6><strong>Subtotal</strong></h6>
                    <h6>Iva</h6>
                    <h6>Envio</h6>
                    <h6><strong>A pagar</strong></h6>
                </div>
                <div class="col-6 text-end">
                    <h6><strong>${{ Subtotal }}</strong></h6>
                    <h6>${{ iva }}</h6>
                    <h6>${{ envio }}</h6>
                    <h6><strong>${{ total }}</strong></h6>
                </div>
                <a href="#" class="btn btn-secondary">Pagar</a>
            </div>
        </div>
    </div>
</div>
</main>
<br>
{% endblock %}