{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="container w-75 bg-primary mt-5 rounded shadow">
        <div class="row align-items-stretch ">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
                <div class="col">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15911.4022413351!2d-75.22528841447343!3d4.438907795212568!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1662850588435!5m2!1ses!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="col bg-white p-4 rounded-end">
                <h2 class="fw-bold text-center py-5">Contactenos</h2>

                <!-- login -->

                <form action="#">
                    <div mb-2>
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre"
                            placeholder="ej: Alejandro">
                    </div>
                    <div mb-2>
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="apellido"
                            placeholder="ej: Rodriguez">
                    </div>
                    <div mb-2>
                        <label for="email">Correo</label>
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                    <div mb-2>
                        <label for="mensaje">Mensaje</label>
                        <textarea name="manesaje" class="form-control" id="mensaje"
                            placeholder="ej: hola"></textarea>
                    </div>
                    <br>
                    <div class="mb-2">
                        <button class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<br>
{% endblock %}