body{
    font-family: 'PT Serif', serif;
    margin: 0px;
    padding: 0px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

/**HEADER**/
header a{
    text-decoration: none;
    color: #fff;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    border-bottom: 2px solid white;
    color: white;
}
#titulo{
    display: flex;
}

/* HEAD */

#nombreUsuario{
    text-align: right;
}

/** CARRITO DE COMPRAS**/
.sidebar-social li {
    text-align: center;
    width: 31.9%;
    margin-bottom: 3px !important;
    display: inline-block;
    font-size: 10px;
    padding: 0;
  }
  
  .sidebar-social i {

    display: flex;
    margin: 0 auto 10px auto;
    width: 32px;
    height: 32px;
    margin: 20px auto 0;
    line-height: 42px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 0;
    padding-top: 5px;
  }
  
  .sidebar-social a {
    
    text-decoration: none;
    width: auto;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-social a span {
    color: white;
    font-size: 15px;
    padding: 5px 0 1px 40;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  /* CSS para posicionar el bade cerca del carrito*/
  .cart {
    position: relative;
  }
  
  #cart_menu_num {
    position: absolute;
    top: 0;
    left: 15%;
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
  }
/**CONTENEDOR INDEX**/
.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
#cabecera{
    min-height: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em black
}
.cabeceraimg{
    float: left;
    width: 80px;
    height: 80px;
    border-radius: 100%;
     
 }
#cabecera h1{
    margin-top: 50px;
    font-size: 70px;
    margin-bottom: 10px;
}
/**TIENDA**/
.contenedor2{
    width: 80%;
    margin: auto;
    overflow: hidden;
    
}
.tienda{
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 0.2em 0.2em 0.2em black
}
#boletin{
    padding: 15px;
    color: #fff;
    background: black;
}
#boletin h1{
    float: center;
}
.zapatillas{
    text-align: center;
    color: #000;
    text-shadow: 0.1em 0.1em 0.2em black
}
#cajas{
    margin-top: 20px;
    
    
}
#cajas .caja{
    float: left;
    text-align: center;
    width: 33%;
    
}
.cajaa{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    background-color: transparent;
    color: #000; 
    
}
.caja1 img{
    width: 200px;
}
#cajas .caja img{
    width: 200px;
    
}
#cajas .caja h1,h2,h3{
    color: #0A090A;
}

/** REGISTRARSE **/
form{
	width:300px;
	padding:20px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
    float: center;
    
}
form label{
	width:100%;
	font-weight:bold;
	display:inline-block;
}
form input[type="text"],
form input[type="email"]{
	width:100%;
	padding:3px 5px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}

/** PIE DE PAGINA**/
.pie-pagina{
    width: 100%;
    background-color: #42C2FF;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 200px;
}
.pie-pagina .grupo-1 .box h1{
    color: #fff;
    margin-top: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #fefefe;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color:#85F4FF;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #EFFFFD;
}
.pie-pagina .grupo-2{
    background-color:  #42C2FF;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}


@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
